/* components/UserInfo/UserInfo.module.css */
.userInfo {
    text-align: center;
    background-color: var(--background-color);
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .banner {
    position: relative;
  }
  
  .bannerImage {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
  }
  
  .uploadButton {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: var(--primary-color);
    color: var(--background-color);
    border: none;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .profile {
    margin-top: -50px;
    padding: 10px;
  }
  
  .profilePicture {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 2px solid var(--background-color);
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  @media (max-width: 600px) {
    .bannerImage {
      height: 150px;
    }
  
    .profilePicture {
      width: 80px;
      height: 80px;
    }
  }
  